{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {{building.name}} - {% trans "Editar Informações" %}
{% endblock %}

{% block header %}
<div id="head" class="secondary" style=></div>
{% endblock %}

{% block body %}
<div class="container">

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">{% trans "Início" %}</a></li>
    <li><a href="{% url 'dashboard' %}">{% trans "Painel de Controle" %}</a></li>
    <li><a href="{% url 'campuses:index' %}">{% trans "Câmpus" %}</a></li>
    <li><a href="{% url 'campuses:campus_index' campus.url_param %}">{{campus.acronym}}</a></li>
    <li><a href="{% url 'buildings:index' building.id %}">{{building.name}}</a></li>
    <li class="active">{% trans "Editar Informações"  %}</li>
  </ol>

  <div class="row">
    <article class="col-xs-12 maincontent">
      <header class="page-header">
        <h1 class="page-title">{{building.name}} - {% trans "Edição de Informações" %}</h1>
      </header>

      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-default">
          <div class="panel-body">
            <h3 class="thin text-center">{% trans "Preencha os Campos Corretamente para Editar as Informações do Edifício" %}</h3>
            <hr>

            {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                  <strong>{{ error|escape }}</strong>
                </div>
              {% endfor %}
            {% endif %}

            <form method="post">
              {% csrf_token %}
              {% for field in form %}
                <div class="top-margin">
                  <label>{{ field.label }}</label>
                  {{field}}
                  <div class="alert-danger">
                    <strong>{{ field.errors }}</strong>
                  </div>
                </div>
              {% endfor %}
              <hr>

              <div class="row">
                <div class="col-lg text-center">
                  <button class="btn btn-warning" type="submit" onclick="return confirm('Deseja realmente editar o edifício?')">{% trans "Salvar Mudanças" %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
{% endblock %}
